<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white">Cargando...</p>
</ngx-spinner>
<div class="general">
    <h2 style="color: black;">Comprar Articulos</h2>
    <div class="form-group row mb-3">
        <div class="col-lg-4">
            <button class="btn btn-primary btn-md" style="width:100%; margin-right: 5%;"
                (click)="comprarCarrito()">Comprar Carrito</button>
        </div>
        <div class="col-lg-8">
            <h3> Articulos: {{itemsComprados}} - Precio total: {{totalItemCompradas}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="width: 100%" *ngFor="let item of data">
                <div class="card-body">
                    <div class="img-container">
                        <h4>{{item.codigo}} - {{item.descripcion}}</h4>
                        <img class="card-img-top redimension" [src]="item.imagen" alt="Card image cap">
                    </div>
                    <p class="card-text">Precio {{item.precio}}</p>
                    <input type="number" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" [max]="item.stock" #stockSelected>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <button class="btn btn-dark" style="margin:2%; width: 100%;"
                            (click)="AddCarrito(item.id, stockSelected.value, item.precio)">
                            Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>